
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="row">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron" style="background-color:ghostwhite">
        <h3>공지사항</h3>
        
        <!-- 공지사항 게시판 -->
        <a href="/home/notice">공지사항 게시판으로 가기</a>
        
        <!-- 공지사항 게시판 끝 -->
        
      </div>
     
     <hr style="border-top:1px dashed #011655">
     
      <div class="row">
        <div style="text-align:center" class="col-xs-6 col-lg-3">
          <h2>유니크</h2>
          <p> 유니스트 유니크한 응원동아리 </p>              
          <img src ="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSeDlsObz7XJj6U5m1nSu3_9GiNzb9DE5Ol-2AHpfU3ldqMHQniNA" width="50%">
          <p><a class="btn btn-sm btn-success" href="/home/unique" role="button">자세히 보기 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        
         <div style="text-align:center" class="col-xs-6 col-lg-3"> 
          <h2>EOE</h2>
          <p> 유니스트 물리 동아리! </p>              
          <img src ="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/v/t1.0-1/p160x160/10001421_240952982774946_1703674712931421071_n.jpg?oh=d4e481f5ec53ecb0ec5714fb625f19dc&oe=5671477C&__gda__=1446717828_23be2ffcb5d6aa6e907f4fb79262c8ca" width="50%">
          <p><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        
        <div style="text-align:center" class="col-xs-6 col-lg-3">
          <h2>NEST</h2>
          <p> 유니스트 연극 동아리 </p>              
          <img src ="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/528650_420316421337589_1719114959_n.jpg?oh=343bc8cfa5a6d1ffc2d85f31c25156fb&oe=564CA37E&__gda__=1448317409_c481180776ad06c12e2e8f8415cb4722" width="50%">
          <p ><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        
         <div style="text-align:center" class="col-xs-6 col-lg-3">
          <h2>HeXa</h2>
          <p> 유니스트 해킹동아리</p>              
          <img src ="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/1966738_588219427936385_1046387854_n.png?oh=27f701364cc2371f4a1208a7b177bd7a&oe=563596FB&__gda__=1451336843_7a3d22a8a84459ca1a8266726b8bf28c" width="50%">
          <p ><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기 &raquo;</a></p>
        </div>                                                                                                                                                                                                                                                                                                                                                                                       <!'--/.col-xs-6.col-lg-4-->
         <div style="text-align:center"  class="col-xs-6 col-lg-3">
          <h2>Astral</h2>
          <p> 유니스트 천체 관측동아리 </p>              
          <img src ="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c6.0.160.160/p160x160/64174_338839776159236_485364504_n.jpg?oh=cb31e9df627026b46e55b2b5c389e93d&oe=5660C833&__gda__=1453147446_92c768ae2455c9894cb9f1d06430a259" width="50%">
          <p style="text-align=center"><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
         <div style="text-align:center" class="col-xs-6 col-lg-3">
          <h2>지구방위대</h2>
          <p> 유니스트 No.1 축구동아리 </p>              
          <img src ="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSeDlsObz7XJj6U5m1nSu3_9GiNzb9DE5Ol-2AHpfU3ldqMHQniNA" width="50%">
          <p style="text-align=center"><a class="btn btn-sm btn-success" href="#" role="button">자세히 보기 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->

    <div style="position:fixed; top:100px; margin-right:30px; float:right; right:0%;" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

  <hr>

