<div class="col-xs-12 col-md-10" style="left:10%; margin-top:100px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @one_post.title %>
        <div class="panel-writer" style="float:right;">
            <h5 style="margin-top:2px"><%= @one_post.writer %></h5>
        </div>
      </div>
      <div class="panel-body">
        <%= @one_post.content %>
      </div>
    </div>
</div>