<h1>유니크 페이지</h1>
<br>
<p>유니크 페이지 입니다</p>

<div class = "uni">
    <form method="post" action="" name="myform" id="form">
        <label>이름 :</label>
        <input type="text" id="naam" name="author_name" size="40" />
        <br />
        
        <label>Email :</label>
        <input type="text" id="email" name="email" size="40" />
        <br />
        
        <label>내용 :</label>
        <textarea cols="30" rows="7" id="bericht" name="contents"></textarea>
        <br />
        
        <label>&nbsp;</label>
    <input class="submit" id="btnZend" name="submit" type="submit" value="확인" />
</div>